#dashboard {
  &__footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: $brandPrimary;
  }
}
