@tailwind base;
@tailwind components;
@tailwind utilities;

//@import "react-datepicker/dist/react-datepicker.css";

@import './sass/variables';
@import './sass/common';
@import './sass/grid';
@import './sass/header';
@import './sass/main';
@import './sass/brand';
@import './sass/sidebar';
@import './sass/footer';

.dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  vertical-align: middle;
}

@import "react-datepicker/dist/react-datepicker.css";

.customDatepicker {
}

.customDatepicker .lg\:w-10{
    width: 2rem;
    height: 2rem;
}

.customDatepicker .grid.grid-cols-7.border-b.border-gray-300.py-2 {
    padding: 0;
}

.customDatepicker .flex.items-center.border.border-gray-300.rounded-md.px-2 {
    padding: 0;
}

.customDatepicker .min-h-\[285px\] {
    min-height: 228px;
}